@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-main: hsl(15, 52%, 60%);
  --color-main-light: hsl(14, 52%, 70%);
  --color-heading: hsl(14, 52%, 95%);
  --color-silent-100: hsl(0, 0%, 12%);
  --color-silent-200: hsl(0, 0%, 10%);
  --color-silent-300: hsl(0, 0%, 6%);
  --font-roboto-mono: var(--font-roboto-mono);
  --font-roboto-flex: var(--font-roboto-flex);
  --breakpoint-xs: 30rem;
}

.btn-main {
  @apply bg-main text-[#0F0F0F] hover:bg-heading
}