@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-main: hsl(15, 52%, 60%);
  --color-main-light: hsl(14, 52%, 70%);
  --color-heading: hsl(14, 52%, 95%);
  --color-silent-50: hsl(0, 0%, 20%);
  --color-silent-100: hsl(0, 0%, 12%);
  --color-silent-200: hsl(0, 0%, 10%);
  --color-silent-300: hsl(0, 0%, 6%);
  --font-roboto-mono: var(--font-roboto-mono);
  --font-roboto-flex: var(--font-roboto-flex);
  --breakpoint-xs: 30rem;
}

.btn-main {
  @apply bg-main text-[#0F0F0F] hover:bg-heading
}

.shine:before {
  @apply content-[''] absolute h-full top-0 -left-10 animate-[shining_3s_infinite_linear]
}

@keyframes shining {
  0% {
    left: -40px
  }

  20% {
    left: 40px
  }

  100% {
    left: 100%
  }
}

.shine:before {
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0)30%, hsla(14, 52%, 95%, 0.8), rgba(255, 255, 255, 0)70%);
}